.supermenu_main_container {
  background-color: white;
  width: 26%;
  position: fixed;
  top: 8.9%;
  z-index: 100;
  left: 61.8%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  /* border:1px solid red; */
  transition: 0.2s ease;
 
}

.supermenu_ontainer {
  width: 90%;
  margin: auto;
  /* margin: 10px; */
  /* border:1px solid rgb(55, 29, 29); */

}
